{% extends "itreporting/base.html" %}
{% block content %}

<h1>Requests Posted</h1>
{% for request in requests %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{request.author.profile.image.url }}" />
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ request.author.profile }}</a>
            <small class="text-muted">{{ request.date_submitted}}</small>
        </div>
        <h2><a class="article-title" href="#">{{ request }}</a></h2>
        <p class="article-content">{{ request.details }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}